<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>


<nav>
<a routerLink="/dashboard" >dashboard</a>
  <a routerLink="/users" >users</a>
  <a routerLink="/factors" >factors</a>
  <a routerLink="/basetables" >base tables</a>


  <ul class="nav navbar-nav" routerLinkActive="active">
    <li class="nav-item"><a class="nav-link" routerLink="/stufftype">stuff type:</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>

  </ul>


</nav>


<h2>the list of users: </h2>
<!--<app-userlist></app-userlist>-->
<router-outlet></router-outlet>

