<p>define your factor:</p>

<form novalidate [formGroup]="factorForm" (ngSubmit)="onSubmit()">

<label>title:
  <input type="text" formControlName="title" placeholder="title" >

</label>

  <label>price:
    <input type="text"  formControlName="price"  placeholder="price" >

  </label>

  <label>purchase date:

  <input name="purchaseDateName" formControlName="selectedDate" [dpDayPicker]="datePickerConfig"  theme="dp-material" dir="rtl"  />
  </label>


  <label>stufftype_type:
    <select formControlName="stuffType" (change)="onChange($event.target)" >
      <option  *ngFor="let stf of stuffTypeList"  [value]="stf"   >{{stf.label}}</option>
    </select>
  </label>
<div>
  <app-type-component [selectedType]="selectedItem" [form]="factorForm"  (controlerChanges)="onControlerChanges($event)" ></app-type-component>

</div>



<button type="submit" [disabled]="factorForm.pristine" >save or update</button>
<button type="reset" (click)="revert()" [disabled]="factorForm.pristine" >revert</button>


 </form>
