<p>define your stuff type:</p>
<label>name:
  <input type="text" [(ngModel)]="stuffTypeModel.label" placeholder="stufftypename" >

</label>


<label>metric:
  <input type="text" [(ngModel)]="stuffTypeModel.key" placeholder="key" >

</label>

<label>stufftype_type:




  <mat-form-field>
    <mat-select [(ngModel)]="stuffTypeModel.contentType">



      <mat-option  *ngFor="let item of keys"  [value]="item"   >{{item}}</mat-option>


    </mat-select>
  </mat-form-field>



</label>
<button (click)="onSaveStuffType()" >save</button>

<!--<wi_stufftype_combo></wi_stufftype_combo>-->

<!--<p>You selected: {{selected}}</p>-->

<!--<button value="click" (click)="show()" >click</button>-->
